# Dependencies 
node_modules
client/node_modules
server/node_modules

# Environment Variables (Secret Keys - SECURITY RISK)
.env
client/.env
server/.env

# Build Output 
client/dist
client/build

# Logs
npm-debug.log
yarn-error.log